.footer-copyright {
  background: #17263c;
  color: white;
}

footer {
  background-color: #1f2835;
}

a {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

h5 {
  color: dimgrey;
  font-weight: bold;
}
