<section id="about" class="content-section text-center">
    <div class="row">
      <div class="col-lg-3 card">

        <!--Card image-->
        <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(1)_512.png" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-3 card">

        <!--Card image-->
        <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(0)_512.png" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">1 heure</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-3 card">

        <!--Card image-->
        <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(1)_512.png" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">2-6 joueurs</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="col-lg-3 card">

        <!--Card image-->
        <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(2)_512.png" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Tout publique</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
</section>
