<app-navbar></app-navbar>
<app-carousel></app-carousel>

<!--<div class="titre-partie">
  <h1>A propos du DarkSide</h1>
</div>-->

<div id="about">
  <app-about></app-about>
</div>
<div id="salles">
  <app-salles></app-salles>
</div>

<div class="parallax-container titre-partie">
  <div class="parallax"><img src="../assets/images/backgroundContenue.jpg">
  </div>
  <h1>Nos tarifs</h1>
</div>
<div id="price">
  <app-price></app-price>
</div>
<div class="parallax-container titre-partie">
  <div class="parallax"><img src="../assets/images/backgroundContenue.jpg">
  </div>
  <h1>Nous contacter</h1>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
