<div id="wrapper">
  <div class="row">

    <a href="#">
      <div class="image-box">
        <div class="image-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/239994/bench.jpg" alt="Bench"/>
          <div class="image-detail">
            <h3>Cupidatat Ipsum</h3>
            <div class="detail-text">
              <p>Culpa dolore anim velit cillum enim duis labore irure. Veniam ut dolor consequat non velit nisi sit
                consequat do adipisicing esse cillum eiusmod.</p>
            </div>
          </div>
          <span class="button btn-normal">Learn More</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="image-box">
        <div class="image-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/239994/mountain.jpg" alt="Mountain"/>
          <div class="image-detail">
            <h3>Mollit Nostrud</h3>
            <div class="detail-text">
              <p>Culpa dolore anim velit cillum enim duis labore irure. Do eiusmod nulla non fugiat laboris est velit
                nulla anim pariatur dolore amet excepteur deserunt.</p>
            </div>
          </div>
          <span class="button btn-normal">Learn More</span>
        </div>
      </div>
    </a>

    <a href="#">
      <div class="image-box">
        <div class="image-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/239994/walkway.jpg" alt="Bench"/>
          <div class="image-detail">
            <h3>Fugiat Pariatur</h3>
            <div class="detail-text">
              <p>Culpa dolore anim velit cillum enim duis labore irure. Duis adipisicing sit proident ipsum in enim
                irure cupidatat non eu ipsum adipisicing aliquip.</p>
            </div>
          </div>
          <span class="button btn-normal">Learn More</span>
        </div>
      </div>
    </a>

  </div>
</div>
