<section id="wrapper ">
  <div class="row container-fluid">
    <div class="item-salle">
      <a href="#">
        <div class="image-box">
          <div class="image-content">
            <img src="../../assets/images/backgroundContenue.jpg" alt="Bench"/>
            <div class="image-detail">
              <h3 class="titre-salle">L'antre de Von Bron</h3>
              <div class="detail-text">
                <p>Culpa dolore anim velit cillum enim duis labore irure. Veniam ut dolor consequat non velit nisi sit
                  consequat do adipisicing esse cillum eiusmod.</p>
              </div>
            </div>
            <span class="button btn-normal">En savoir plus</span>
          </div>
        </div>
      </a>
    </div>
    <div class="item-salle">
      <a href="#">
        <div class="image-box">
          <div class="image-content">
            <img src="../../assets/images/backgroundContenue.jpg" alt="Bench"/>
            <div class="image-detail">
              <h3 class="titre-salle">L'antre de Von Bron</h3>
              <div class="detail-text">
                <p>Culpa dolore anim velit cillum enim duis labore irure. Veniam ut dolor consequat non velit nisi sit
                  consequat do adipisicing esse cillum eiusmod.</p>
              </div>
            </div>
            <span class="button btn-normal">En savoir plus</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
