a{
  text-transform: uppercase;
}

.top-nav-collapse {
  background: url("../../assets/images/navR.jpg");
  background-size: cover;
}

@media only screen and (max-width: 768px)
{
  .navbar {
    background: rgba(0,0,0,0.8);
  }
}
